<footer class="mainfooter" role="contentinfo">  
    <div class="footer-middle">  
        <div class="container">  
            <div class="row">  
                <div class="col-md-3 col-sm-6">  
                    <div class="footer-pad">  
                        <!-- footer logo -->
                        <a href="/"><img width="200px" src="../images/logo.png"></a>
                    </div>  
                </div>  
                <div class="col-md-2 col-sm-6">  
                    <div class="footer-pad item"> 
                        <h4 class="mt-5 ms-2">Services</h4>  
                        <ul class="list-unstyled ms-4">  
                            <li><a href="#"> Vaccinations and Preventive Care</a> </li>  
                            <li><a href="#">Wellness Examinations</a> </li>  
                            <li><a href="#">Dental Care</a></li>  
                            <li><a href="#">Grooming and Hygiene</a></li> 
                        </ul>  
                    </div>  
                </div>  
                <div class="col-md-3 col-sm-6">  
                    <div class="footer-pad item">  
                        <h4 class="mt-5 ms-2">Company</h4>  
                        <ul class="list-unstyled ms-4">  
                            <li> <a href="/services"> Services </a> </li>  
                            <li> <a href="/news"> News </a> </li>  
                            <li> <a href="/appointment">Appointment</a> </li>  
                            <li> <a href="/contact"> Contact </a> </li>   
                        </ul>  
                    </div>  
                </div>      
                <div class="col-md-2 item">  
                    <h4>Follow Us </h4> 
                    <ul>
                        <li class="list-unstyled contact">
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                        </li>
                        <li class="list-unstyled address">
                            <p>177 78 Thessalonikis 286, Tavros, Greece</p>
                        </li>
                        <li class="list-unstyled email">
                            <p>petpulse.info@gmail.com</p>
                        </li>
                        <li class="list-unstyled phone">
                            <p><a href="tel:1234567890">(123)456-7890</a></p>
                        </li>
                    </ul>            
                </div>  
            </div>  
            <div class="row">
                <div class="col-md-12 line">
                </div>
            </div> 
            <div class="row">  
                <div class="col-md-12 copy">  
                    <p class="text-left"> © Copyright 2021 - PetPulse.  All rights reserved. </p>  
                </div>
            </div>  
        </div>  
    </div>  
</footer>